@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F8FAFC;
}

/* 隐藏滚动条但允许滚动 */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
